.button {
    color: rgb(20, 14, 14);
    border: 2px solid black;
    border-radius: 5px;
    padding: 5PX 15PX 5PX 15px;

    margin-left: 20px;
}

#bt1 {
    background-color: rgb(143, 201, 86);
    border: hidden;
    /* width: 50px; */
    color: black;
}

#bt2 {
    padding: 5px 50px 5px 50px;
    /* width: 150px; */
}